body {
  background-color: #112940;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: white;
  border-radius: 3px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  max-width: 60vw;
  min-width: 40vw;
  overflow: scroll;
}

.App::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: white;
  background-color: #BBC7AB;
  cursor: pointer;
  margin-top: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 7px;
  color: rgba(0, 0, 0, 0.7);
}

label {
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 25px;
  color: #888;
  letter-spacing: 1px;
}